.neon-text {
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 15px #39ff14, 0 0 20px #39ff14;
  }
  
  .neon-effect {
    text-shadow: 0 0 2px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
  }
  

.matrix-rain::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../src/assets/lluviaCodigo.gif') repeat;
    opacity: 0.1;
    z-index: 0;
    background-attachment: fixed; 
    background-size: cover; 
  }
  
  @keyframes scroll {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }
    .group:hover:before {
    border-color: #39ff14;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #39ff14;
    }
    100% {
      box-shadow: 0 0 20px #39ff14, 0 0 30px #39ff14;
    }
  }
  
  .navbar-container {
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.8); 
    border-bottom: 2px solid #39ff14; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
  }

  .contact-container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #39ff14; 
    padding: 2rem;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }}
  
  .neon-text {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .neon-effect {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s; /* Delay para que aparezcan uno tras otro */
  }
  